[submodule "build/solenopsisgit"]
	path = build/solenopsisgit
	url = git://github.com/solenopsis/Solenopsis.git
[submodule "build/solenopsis"]
	path = build/solenopsis
	url = git://github.com/solenopsis/Solenopsis.git
